@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Nunito:wght@400;700&display=swap');

/* Your custom CSS below */
@theme
{
  --font-lato: "Lato", sans-serif; 
  --font-nunito: "Nunito", sans-serif; 
}
/* Full-width hack */
.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

html {
  @apply h-full;
  overflow-x: hidden;
}

body {
  @apply h-full;
}
