@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom CSS below */

/* Full-width hack */
.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

html {
  @apply h-full;
  overflow-x: hidden;
}

body {
  @apply h-full;
}
